body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('../Imagenes/bannerHome3.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero .container {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    /* backdrop-filter: blur(10px); */
}


.service-card {
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

.testimonials {
    background: #f8f9fa;
    padding: 40px 20px;
}

.contact-section {
    background: #212529;
    color: white;
    padding: 50px 20px;
}

.footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}


.negrita {
    font-weight: bold;
}


/* Estilo específico solo para las imágenes dentro de la galería */
.gallery-img {
  border-radius: 15px;
  object-fit: cover;
  height: 400px;
  transition: transform 0.3s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.gallery-img:active {
  transform: scale(0.95);
}

/* Clases para la animación */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Cuando el elemento entra en la vista */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /* background: url("../Imagenes/banner.jpg") no-repeat center center/cover; */
  animation: zoomOut 0.5s ease-in-out forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
