body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.hero {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    text-align: center;
    padding: 50px 0;
}
.schedule-container {
    margin: 30px auto;
    max-width: 800px;
}
.schedule-table {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.table {
    width: 80%; /* Ajusta el ancho de la tabla */
    margin: auto; /* Centra la tabla */
    border-collapse: collapse; /* Une los bordes */
}
.table th, .table td {
    text-align: center;
    padding: 12px; 
}
.available {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.unavailable {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
}
.available:hover {
    background-color: #218838;
}
.unavailable:hover {
    background-color: #c82333;
}
@media (max-width: 768px) {
    .hero {
        padding: 30px 10px;
    }
    .schedule-container {
        padding: 0 15px;
    }
}


.footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.agendar-content h2,
.agendar-content p,
.agendar-content label,
.agendar-content select,
.agendar-content input,
.agendar-content small,
.agendar-content button {
    text-align: justify;
    max-width: 800px; /* Limita el ancho para centrarlo */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que los elementos de formulario se ajusten */
}

#frase-moto {
    font-weight: bold;
    color: black;
    font-size: 14px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    min-height: 50px; /* Ajusta según la cantidad de texto */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
