/* Estilo para la tarjeta personalizada */
.custom-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.05);
}

/* Iconos personalizados */
.custom-icon {
  font-size: 4rem;
  margin-top: 20px;
  color: #007bff;
}


.custom-card .card-body {
  padding: 20px;
}

.card-body {
  overflow: hidden; /* Oculta el contenido que no cabe */
}

.card-body p {
  white-space: nowrap; /* Impide que el texto se envuelva */
  overflow: hidden; /* Oculta el texto que se sale del contenedor */
  text-overflow: ellipsis; /* Muestra "..." al final del texto */
}

.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}


.servicios {
  background-color: #f8f9fa;
}

h1 {
  font-family: 'Arial', sans-serif;
}

.footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}