/* Estilo global */
body {
  font-family: "Arial", sans-serif;
}

ul {
  list-style-type: none; /* Ocultar los puntos de las listas */
  padding-left: 0; /* Eliminar la indentación */
}

.footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.hero {
    background: url('../Imagenes/bannerHome3.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero .container {
    /* background: rgba(0, 0, 0, 0.5); Fondo negro semitransparente */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    backdrop-filter: blur(5px);
}